<header itemscope itemtype="https://schema.org/WPHeader">

    <div class="child navbar-toggle">
        <fa-icon [icon]="faBars" class="bar-icon" (click)="onToggleBar()"></fa-icon>
    </div>

    <div class="child logo-container" itemprop="brand" itemscope itemtype="https://schema.org/Brand">

        <a (click)="resetMenu()" href="#" class="logo" itemprop="name" itemprop="logo"> Korir K Emmanuel</a>
    </div>

    <div class="child nav-container" #nav [hidden]="!hasMenuToggled" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul>
            <li><a (click)="resetMenu()" href="#about"  itemprop="url"><span itemprop="name">About Me</span></a></li>
            <li><a (click)="resetMenu()" href="#whatIdo"  itemprop="url"><span itemprop="name">What I Do</span></a></li>
            <li><a (click)="resetMenu()" href="#experience"  itemprop="url"><span itemprop="name">My Experiences</span></a></li>
            <li><a (click)="resetMenu()" href="#posts"  itemprop="url"><span itemprop="name">My Blog</span></a></li>
            <li><a (click)="resetMenu()" href="#contact"  itemprop="url"><span itemprop="name">Contact</span></a></li>
            <li><a (click)="resetMenu()" href="https://firebasestorage.googleapis.com/v0/b/emmanuelkorircv.appspot.com/o/Korir%20K%20Emmanuel%20My%20CV.pdf?alt=media&token=0b1abffb-f31b-41dc-b9c0-3890585223d9" rel="follow" title="My Resume" target="_blank"><span itemprop="name"> <mat-icon>attachment</mat-icon></span></a></li>
            <li><a (click)="resetMenu()" href="https://firebasestorage.googleapis.com/v0/b/emmanuelkorircv.appspot.com/o/Emmanuel%20Resume.apk?alt=media&token=4ccce073-462b-4d77-866c-ed849d2b271b" rel="follow" title="My Android Application" target="_blank"><span itemprop="name"><mat-icon>android</mat-icon></span></a></li>
        </ul>
    </div>



    <div class="child share-container" #shareBtn>
        <fa-icon [icon]="faShareAlt" class="icon" (click)="share()" alt="share" itemprop="share"></fa-icon>
    </div>

</header>
