$black: #1d1f20;
$blue: #0a088b;
$green: #61aed1;
$yellow: #b2d3f1;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}






@media screen and (min-width: 1000px){
  .container-fluid
  {
    max-width: 60vw;
    overflow-x: hidden;
  }
  .card-transparent {
    width: 70vw;
  }
  }
@media screen and (max-width: 1024px){
  .container-fluid
  {
    max-width: 60vw;
    overflow-x: hidden;
  }
  .card-transparent {
    width: 70vw;
  }
  }
@media screen and (max-width: 700px){
  .container-fluid
  {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .card-transparent {
    width: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .container-fluid
  {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .card-transparent {
    width: 100vw;
  }
}

@media screen and (max-width: 360px) {
  .container-fluid
  {
    max-width: 99vw;
    overflow-x: hidden;
  }
  .card-transparent {
    width: 100vw;
  }
}

h1{
  margin-left: 30px;
  margin-top: 20px;
}



.card {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #9e9e9e, #4f4f53;
  // --card-gradient: tomato, orange;
  --card-blend-mode: overlay;
  // --card-blend-mode: multiply;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  margin-bottom: 40px;
  background-image: linear-gradient(
    var(--card-gradient),
    white max(9.5rem, 27vh)
  );
  overflow: hidden;

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    // height: max(10rem, 25vh);
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
    // filter: grayscale(100);

    ~ * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    --card-gradient: #24a9d5 max(8.5rem, 20vh);
  }
}

/* Additional demo display styles */
* {
  box-sizing: border-box;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
}




.card-transparent {
  margin-top: 6em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  align-items: center;
  justify-content: center;

p
{

  margin-right: 4em;
  margin-left: 4em;
  margin-top: 6em;
  margin-bottom: 3em;
}
}





ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin-left:4em;
  margin-right: 4em;
  padding-left: 1rem;
  > li {
    background: white;
    color: rgb(8, 8, 59);
    font-size: larger;
    font-weight: 200;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 0%,$green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      //content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}




