<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
              <mat-icon>code</mat-icon>
                <span id="anim-number-pizza" class="counter-number"></span>
                <span class="timer counter alt-font appear" data-to="10000" data-speed="17000">{{HoursCoding * 365 * 5 * 10}}</span>
                <p class="counter-title">Hours Of Coding</p>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
              <mat-icon>done_outline</mat-icon>
                  <span class="timer counter alt-font appear" data-to="55" data-speed="70000">55</span>
                <span class="counter-title">Projects Done</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
              <mat-icon>computer</mat-icon>
                  <span class="timer counter alt-font appear" data-to="10" data-speed="700000">10</span>
                <span class="counter-title">Languages Proficiency</span>
            </div>
            <!-- end counter -->

                      <!-- counter -->
                      <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                        <mat-icon>watch</mat-icon>
                            <span class="timer counter alt-font appear" data-to=&quot;3&quot; data-speed="7000000">{{ yearsExperience }}</span>
                          <span class="counter-title"> years Experience</span>
                      </div>
                      <!-- end counter -->

        </div>
    </div>
</section>

