<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello changing-text" > Hello! </p>

        <span
            class="txt-rotate"
            typingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="190"
            [data]='[
                {
                    "language": "en",
                    "phrases": [
                        "My name is Emmanuel.",
                        "Experienced Enterprise Web Developer.",
                    
                        "Experience In AI models.",
                        "Experience With LIMS and HL7.",
                        " DevOps And Enviroment Setup.",
                        "Secure systems with cybersecurity."
                    ]

                }
            ]'></span>
    </div>
</div>



