<div id="skills" class="container ">
  <h1 class="title-skills">Skills</h1>
  <div class="bar">
    <div class="skill">HTML & CSS</div>
    <div class="bar-outer">
      <div class="speech-bubble html">100%</div>
      <div class="bar-inner ht"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">jQuery</div>
    <div class="bar-outer">
      <div class="speech-bubble jquery">95%</div>
      <div class="bar-inner jq"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">javascript</div>
    <div class="bar-outer">
      <div class="speech-bubble javascript">100%</div>
      <div class="bar-inner js"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">Typescript/Bootstrap/Angular/VUE</div>
    <div class="bar-outer">
      <div class="speech-bubble typescript">95%</div>
      <div class="bar-inner ts"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill" >Java</div>
    <div class="bar-outer">
      <div class="speech-bubble javas">100%</div>
      <div class="bar-inner java"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill" >Kotlin</div>
    <div class="bar-outer">
      <div class="speech-bubble kotlin">90%</div>
      <div class="bar-inner kt"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">C#</div>
    <div class="bar-outer">
      <div class="speech-bubble csharp">98%</div>
      <div class="bar-inner cs"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">SWIFT</div>
    <div class="bar-outer">
      <div class="speech-bubble swift">75%</div>
      <div class="bar-inner sw"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">PYTHON</div>
    <div class="bar-outer">
      <div class="speech-bubble python">85%</div>
      <div class="bar-inner py"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">SQLITE</div>
    <div class="bar-outer">
      <div class="speech-bubble sqlite">100%</div>
      <div class="bar-inner sq1"></div>
    </div>
  </div>
  <div class="bar">
    <div class="skill">MY SQL</div>
    <div class="bar-outer">
      <div class="speech-bubble mysql">100%</div>
      <div class="bar-inner sq2"></div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
<h1 class="title-skills">STATS ABOUT US</h1>

<div class="wrapper">
    <div class="counter col_fourth">
      <mat-icon>code</mat-icon>
      <p class="count-text ">Over</p>
      <h2 class="timer count-title count-number" data-to="5000" data-speed="1500"></h2>
      <p class="count-text ">Hours Of Coding</p>
    </div>

    <div class="counter col_fourth">
      <mat-icon>done_outline</mat-icon>
      <p class="count-text ">With</p>
      <h2 class="timer count-title count-number" data-to="36" data-speed="1500"></h2>
      <p class="count-text ">Projects Done</p>
    </div>

    <div class="counter col_fourth">
      <mat-icon>computer</mat-icon>
      <p class="count-text ">with over</p>
      <h2 class="timer count-title count-number" data-to="30" data-speed="1500"></h2>
      <p class="count-text ">Languages Proficiency</p>
    </div>
</div>
</div>
</div>
