<section id="posts">
    <div class="container">
        <div class="top-container">
            <div class="title">
                <h1 >Posts</h1>
            </div>
            <div class="navigation">
                <a href="javascript:void(0)" class="previous" (click)="onClickPrevious()" [ngClass]="{'disabled': disablePreviousNavigation()}">
                    <div class="molding">
                        <fa-icon [icon]="faChevronLeft" class="icon"  title="Previous"></fa-icon>
                        <span >Previous</span>
                    </div>
                </a>
                <div class="divider">|</div>
                <a href="javascript:void(0)" class="next" (click)="onClickNext()" [ngClass]="{'disabled': disableNextNavigation()}">
                    <div class="molding">
                        <span >Next</span>
                        <fa-icon [icon]="faChevronRight" class="icon"  title="Next"></fa-icon>
                    </div>
                </a>
            </div>
        </div>
        <p class="synopsis" >My posts update:</p>
        <div class="middle-container" (swipe)="onSwipe($event)">
            <app-posts-carousel
                [posts]="posts"
                [currentPage]="currentPage"
                (onResultsPerPageChanged)="updateNavigation($event)"></app-posts-carousel>
        </div>
    </div>
</section>
